
/* Define custom properties for better styling control */

:root {
    --dominant-secondary-color: #ffffff;
    --dominant-light-color: #ffffff;
    --theme-color: #1868db;
    --dark-theme-color: #374151;
    --soft-theme-color: #669DF1;
    --soft-gray: #f0f1f2;
    --dark-gray: #181818bd;
    --text-font: Roboto, Arial, Helvetica, sans-serif;
    --dark-text-color: #1d2025;
    --task-success: #82B536;
    --overlay-color: rgb(29 32 37 / 0.3);
    
}

/* @face rule for roboto font */

@font-face {
    font-family: 'Roboto';
    src: url('font-family/woff_fonts/Roboto-Regular.woff2') format('woff2'),
        url('font-family/woff_fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }



/*Normalize Template: */


/*  More-intuitive box-sizing model */


*, *::before, *::after {
    box-sizing: border-box;
}

/*  remove default margin */
* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;

    height: 100vh;
    width: 100vw;

    display: flex;

    font-family: var(--text-font);

   
    background-color: var(--dominant-secondary-color);

    padding-top: 93px;
}
/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* button tyles */

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

html body::-webkit-scrollbar {
    scrollbar-width: none;
    width: 0;
}

/* End of normalize template */  

      
    /* Header: */
    
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 12fr 24fr 64fr;
 
    
    background-color: var(--dominant-light-color);
    color: var(--theme-color);

    box-shadow: 0px 4px 5px 0px #918f8f49;

    z-index: 1;

    min-height: 93px;
}

#header>nav {
    grid-column: 3 / 4;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    gap: 5%;

}

#header>nav button {
    color: var(--dark-gray);
    font-weight: bold;
}


#logo {

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / 2;    

    background-color: var(--theme-color);
    color: var(--dominant-light-color);

    height: 100%;
    min-width: 148px;
}

/* The sidebar */


/* #sidebar {
    grid-column: 2 / 3;
    grid-row: 2 / 4; 

    background-color: var(--soft-gray);
    color: var(--dominant-light-color);

    display: grid;
    
    grid-template-rows: 10fr 90fr;

    min-width: 100px;


    grid-template-columns: 1fr;

} */

/* The main content */


#main_content {
    flex: 1;
    display: flex;

    background-color: var(--dominant-light-color);

    overflow: hidden;
}

/* Articles Layout: */

#projects_section {
    flex: 1;
    display: grid;
    grid-template-rows: 3fr 97fr;

    grid-auto-flow: row;

    gap: 1.5rem;

    padding: 1rem;
}

#projects_section_header {
    grid-row: 1 / 2;

    /* border-bottom: solid 0.2rem var(--soft-gray); */

    display: grid;
    grid-template-columns: 20fr 60fr 20fr;

    padding: 0rem 0.3rem;    

    /* background-color: var(--soft-gray); */
}

#projects_section_header>h2 {
    color: var(--dark-theme-color);
    /* background-color: var(--theme-color); */

    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
}

#projects_section_header>button {
    grid-column: 3 / 4;

    background-color: var(--theme-color);
    
    align-self: center;
    justify-self: center;

    padding: 0.3rem 0.5rem;

    border-radius: 5px;

    color: var(--dominant-light-color);
    font-weight: bold;
}


#projects_section_grid {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, 220px);

    grid-auto-flow: row;

    gap: 2%;

    padding: 2%;
    overflow-y: auto;
}

#projects_section_grid>article {
    display: grid;
    grid-template-columns: 10fr 25fr 25fr 40fr;
    grid-template-rows: 10fr 25fr 25fr 40fr;


    background: var(--dominant-light-color);

    border-radius: 12px;

    height: 200px;

    border: 2px solid var(--soft-gray);

    overflow: hidden;

    padding-right: 1rem;
    padding-left: 1rem;
}

#projects_section_grid>article>h3 {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    color: var(--theme-color);
    /* border-radius:5px 0px 0px 5px; */

    align-self: center;
    max-height: fit-content;
    min-width: fit-content;

    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
#projects_section_grid>article>.project_description {
    grid-column: 1 / 4;
    grid-row: 3 / 4;

    color: var(--dark-gray);

    font-size: 0.75em;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
    
#projects_section_grid>article>button {
    grid-column: 4 / 5;
    grid-row: 4 / 5;

    background-color: var(--dominant-light-color);

    
    align-self: center;
    justify-self: end;

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border-radius: 5px;

    color: var(--theme-color);
    border: 1px solid var(--theme-color);
}

#form_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    background-color: var(--overlay-color);

    border: none;

    overflow-y: auto;

    padding-top: 1rem;
}

#project_form {
    min-width: 250px;
    height: 70vh;
    width: 70vw;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr 10fr 1fr 60fr 18fr;

    padding: 2rem;

    background-color: var(--dominant-light-color);
    /* background-color: red; */
    color: var(--dark-text-color);
    z-index: 1;

    border-radius: 0.5rem;

    gap: 1rem;
}

#project_form h2 {
    grid-row: 1 / 2;

    color: var(--theme-color);

    align-self: center;
    justify-self: center;
}

#project_form .project_title_label {
    grid-row: 2 / 3;

    align-self: center;
    justify-self: start;

    cursor: pointer;
}

#project_form #project_title_input {
    grid-row: 3 / 4;

    align-self: flex-start;
    justify-self: start;

    max-height: 50px;
    width: 100%;

    border: 1px solid var(--soft-gray);
    border-radius: 0.2rem;
    padding: 0.2rem;

    color: var(--dark-gray);
    background-color: var(--dominant-light-color);
}

#project_form .project_description_label {
    grid-row: 4 / 5;

    align-self: flex-start;
    justify-self: start;

    cursor: pointer;
}

#project_form #project_description_input {
    grid-row: 5 / 6;
    
    align-self: flex-start;
    justify-self: start;

    height: 90%;
    width: 100%;

    resize: none;
    border: 1px solid var(--soft-gray);
    border-radius: 0.2rem;
    background-color: var(--dominant-light-color);

    padding: 0.4rem;

    color: var(--dark-gray);
}


#project_form #project_title_input:hover,
#project_form #project_description_input:hover {
    background-color: var(--soft-gray);
}


#project_form #project_title_input:focus,
#project_form #project_description_input:focus {
    outline: 0;
    border: 1px solid var(--theme-color);
    color: var(--dark-gray);
    background-color: var(--dominant-light-color);

}

#project_form button {
    grid-row: 6 / 7;

    align-self: center;
    justify-self: center;

    
    padding: 0.1rem 0.8rem;
    

    background-color: var(--dominant-light-color);
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    border-radius: 0.4rem;

    outline: 0;
}

/* Active Project layout */

#active_project_section {
    flex: 1;
    display: grid;
    grid-template-columns: 95fr 5fr;
    grid-template-rows: 35px 345px 500px 35px 500px;   
    
    overflow-y: scroll;

    max-height: 100%;

    color: var(--dark-gray);

    gap: 1rem;
    padding: 1rem;
}

#notes_tab_section {
    flex: 1;


    display: grid;
    grid-template-rows: 5fr 95fr;

    gap: 1rem;
    padding: 2rem;

    overflow-y: auto;    
}

#notes_tab_section>h4 {
    grid-row: 1 / 2;

    align-self: center;
}

#notes_tab_section>.notes_grid {
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-auto-rows: minmax(210px, 230px);
    gap: 1rem;

    grid-auto-flow: row;


}

/* position project header */

#active_project_section>.active_project_title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;    

    align-self: center;
    justify-self: start;

    width: 100%;

    border-radius: 0.5rem;

    cursor: pointer;
}

#active_project_section>.active_project_title_input {
    align-self: center;
    justify-self: start;

    font-size: 24px;
    
    border-radius: 0.5rem;

    border: 1px solid var(--theme-color);
    padding-left: 0.3rem;

    color: var(--dark-gray);
    max-height: 31px;

    width: 100%;
    max-width: 1000px;

    outline: 0;
}
#active_project_section>.back_to_projects_btn {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: var(--dominant-light-color);
    color: var(--dark-gray);
    text-decoration: underline;
    font-weight: bold;

    height: fit-content;
    width: fit-content;

    align-self: center;
    justify-self: end;

    padding-right: 0.5rem;

    border-radius: 100% 0px 0px 100%;
}

#active_project_section>.project_details {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    /* border: 0.1rem solid var(--soft-gray); */
    z-index: 1;

    border-radius: 1rem;

    padding: 1rem;

    display: grid;

    grid-template-columns: 10fr 60fr 30fr;
    grid-template-rows: 10fr 80fr 10fr;

    gap: 1rem;
}

.project_details>.description_header {
    color: var(--dark-gray);
    line-height: 1.5;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.project_details>.project_description {
    color: var(--dark-gray);
    line-height: 1.5;

    grid-column: 1 / 4;
    grid-row: 2 / 3;

    border: 0.1rem solid var(--soft-gray);
    border-radius: 0.5rem;
    padding: 0.5rem;

    cursor: pointer;

    overflow-y: auto;

    max-height: 225px;
}

.project_details>.project_description_input {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    width: 100%;
    overflow-y: auto;     
  
    padding: 0.75rem;
    line-height: 1.4;
  
    border-radius: 0.5rem;

    border: 1px solid var(--theme-color);

    color: var(--dark-gray);

    white-space: pre-line;

    resize: none;
    outline: none;
}

.project_details>.project_created_at {
    color: var(--dark-gray);
    line-height: 1.5;

    grid-column: 3 / 4;
    grid-row: 3 / 4;

    align-self: center;
    justify-self: end;

    min-width: 150px;
}

/* position notes header */

#active_project_section .active_project_notes_header {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.2rem var(--soft-gray);

    align-self: center;

    
}

#active_project_section>.add_note_btn {
    grid-row: 4 / 5;
    grid-column: 2 / 3;

    color: var(--dark-gray);
    font-size: 23px;
    background-color: var(--soft-gray);
    border-radius: 0.5rem;

    /* height: fit-content;
    width: fit-content; */

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    align-self: center;
    justify-self: center;

    display: flex;
    justify-content: flex-start;
}

.todos_list {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;

    grid-template-columns: 1fr;
    grid-auto-rows: 10fr 90fr;

    background-color: var(--dominant--secondary-color);

    overflow-y: auto;
}

#active_project_section .notes_grid {
    grid-column: 1 / 3;
    grid-row: 5 / 6;

    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-auto-rows: minmax(210px, 230px);
    gap: 1rem;

    grid-auto-flow: row;

    padding: 1rem;
    

    overflow-y: auto;
}

.notes_grid>.note_article,
.notes_grid>.note_article_input {
    display: flex;

    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background: var(--dominant-secondary-color);

    border-radius: 12px;

    /* width: clamp(210px, 100%, 230px); */
    height: 210px;

    border: 1px solid var(--soft-gray);

    overflow: auto;

    box-shadow: 0.01rem 0.01rem 0.2rem 0.01rem #918f8f49;

    resize: none;

    overflow-wrap: anywhere;

}

.todos_list #todos_header {
    grid-row: 1 / 2;
    height: 40px;
    padding-bottom: 0.5rem;
    border-bottom: solid 0.2rem var(--soft-gray);

    /* Copy todos <li> layout to keep consistency */

    display: grid;
    grid-template-columns: 50fr 25fr 15fr 10fr;

    align-items: center;

    gap: 0.2rem;
}

#todos_header .subject_header {
     /* Copy todos <li> layout to keep consistency */
    grid-column: 1 / 2;
    min-width: 170px;

}

#todos_header .status_header {
    grid-column: 2 / 3;
}

#todos_header .priority_header {
    grid-column: 3 / 4;
    
}

#todos_header .add_todo_btn {
    grid-column: 4 / 5;

    color: var(--dark-gray);
    font-size: 23px;
    background-color: var(--soft-gray);
    border-radius: 0.5rem;

    height: fit-content;
    width: fit-content;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    justify-self: center; 
}

.todos_list>ul {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(36px, 50px);
    /* border: 0.1rem solid var(--soft-gray); */

    /* overflow-y: scroll; */

    padding: 0;
}


.todos_list>ul>li {
    background-color: var(--dominant-secondary-color);    
    /* border: 1px solid var(--soft-gray); */
    color: var(--dark-text-color);
    list-style: none;

    display: grid;
    align-content: center;

    grid-template-columns: 50fr 25fr 15fr 10fr;

    height: fit-content;
    /* min-width: 405px; */

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    gap: 0.2rem;

    border-bottom: 0.1rem solid var(--soft-gray);
}

/* .todos_list>ul>li>input[type="checkbox"] {
    outline: none;
    border: none;
    grid-column: 1 / 2;
    accent-color: var(--dominant-secondary-color);
    
    min-width: 25px;
    min-height: 10px;

    max-width: 30px;
    max-height: 15px;


    
} */

.todos_list>ul>li>.todo_subject {
    grid-column: 1 / 2;
    overflow: hidden;

    padding-left: 0.1rem;

    min-width: 170px;
}

.todo_subject .todo_subject_btn {
    white-space: nowrap;

    text-decoration: underline;
    color: var(--soft-theme-color);

}

.todos_list>ul>li>.todo_status{
    grid-column: 2 / 3;
    overflow: auto;

    color: var(--dark-text-color);
    font-weight: bold;
    font-size: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.todo_status button {
    white-space: nowrap;

    max-width: fit-content;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.todo_status>.status_todo {
    color: var(--dark-gray);
    border: 1px solid var(--dark-text-color);
}

.todo_status>.status_progress {
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
}


.todo_status>.status_done {
    color: var(--dark-text-color);
    background-color: var(--task-success);
    border: 1px solid var(--task-success);
    font-weight: bold;
}

.todos_list>ul>li>.todo_priority{
    grid-column: 3 / 4;
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    overflow-x: hidden;
}

.todo_priority button {
    white-space: nowrap;

    color: var(--dominant-secondary-color);
    font-weight: bold;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    min-width: 60px;
    
}

.todo_priority .high {
    background-color: red;
}

.todo_priority .medium {
    background-color: var(--dark-theme-color);
}

.todo_priority .low {
    background-color: var(--soft-theme-color);
}


/* Add todo form  */

#todo_form {
    min-width: 250px;
    height: fit-content;
    width: 70vw;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 20px 30px 20px 30px 20px 30px 20px 300px 100px;

    padding: 2rem;

    background-color: var(--dominant-light-color);
    /* background-color: red; */
    color: var(--dark-text-color);
    z-index: 1;

    border-radius: 0.5rem;

    gap: 1rem;
}

#todo_form h2 {
    grid-row: 1 / 2;

    color: var(--theme-color);

    align-self: center;
    justify-self: center;
}

#todo_form .todo_title_label {
    grid-row: 2 / 3;

    align-self: center;
    justify-self: start;

    cursor: pointer;
}

#todo_form #todo_title_input {
    grid-row: 3 / 4;

    align-self: flex-start;
    justify-self: start;

    max-height: 50px;
    width: 100%;

    border: 1px solid var(--soft-gray);
    border-radius: 0.2rem;
    padding: 0.2rem;

    color: var(--dark-gray);
    background-color: var(--dominant-light-color);
}

#todo_form .todo_description_label {
    grid-row: 8 / 9;

    align-self: flex-start;
    justify-self: start;

    cursor: pointer;
}

#todo_form #todo_description_input {
    grid-row: 9 / 10;
    
    align-self: flex-start;
    justify-self: start;

    height: 90%;
    width: 100%;

    resize: none;
    border: 1px solid var(--soft-gray);
    border-radius: 0.2rem;
    background-color: var(--dominant-light-color);

    padding: 0.4rem;

    color: var(--dark-gray);
}

#todo_form .todo_due_date_label {
    grid-row: 4 / 5;

    align-self: flex-start;
    justify-self: start;

    cursor: pointer;
}

#todo_form #todo_due_date_input {
    grid-row: 5 / 6;

    align-self: flex-start;
    justify-self: start;

    max-height: 50px;
    width: 100%;

    border: 1px solid var(--soft-gray);
    border-radius: 0.2rem;
    padding: 0.2rem;

    color: var(--dark-gray);
    background-color: var(--dominant-light-color);
}

#todo_form .todo_priority_label {
    grid-row: 6 / 7;

    align-self: flex-start;
    justify-self: start;

    cursor: pointer;
}

#todo_form #todo_priority_input {
    grid-row: 7 / 8;

    align-self: flex-start;
    justify-self: start;

    width: fit-content;
    
    padding: 0.1rem 1rem;
    
    border-radius: 0.4rem;

    outline: 0;

    cursor: pointer;

    border: 0;
    color: var(--dominant-light-color);
    font-weight: bold;
}

#todo_form #todo_title_input:hover,
#todo_form #todo_description_input:hover,
#todo_form #todo_due_date_input:hover {
    background-color: var(--soft-gray);
}


#todo_form #todo_title_input:focus,
#todo_form #todo_description_input:focus,
#todo_form #todo_due_date_input:focus {
    outline: 0;
    border: 1px solid var(--theme-color);
    color: var(--dark-gray);
    background-color: var(--dominant-light-color);

}

#todo_form>button {
    grid-row: 10 / 11;

    align-self: center;
    justify-self: center;

    
    padding: 0.1rem 0.8rem;
    

    background-color: var(--dominant-light-color);
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    border-radius: 0.4rem;

    outline: 0;
}



/* Active Todo Styling: */

#active_todo_section {
    flex: 1;
    display: grid;
    grid-template-columns: 80fr 20fr;
    grid-template-rows: 10fr 70fr 30fr;   


    gap: 1rem;
    padding: 1rem;
    overflow-y: scroll;
}

#active_todo_section .active_todo_header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    align-self: center;
    justify-self: start;

    max-height: 36px;
    width: 100%;
    max-width: 1000px;

    cursor: pointer;

    border-radius: 0.5rem;
    padding-top: 0.1rem;
    padding-left: 0.3rem;
    color: var(--dark-gray)
}

#active_todo_section .active_todo_header:hover,
#active_project_section .active_project_title:hover,
#active_project_section .project_description:hover {
    background-color: var(--soft-gray);
}


#active_todo_section .back_btn {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    background-color: var(--dominant-light-color);
    color: var(--dark-gray);
    text-decoration: underline;
    font-weight: bold;

    height: fit-content;
    width: fit-content;

    align-self: center;
    justify-self: end;

    padding-right: 0.5rem;

    border-radius: 100% 0px 0px 100%;
}

.todo_details_container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;

    grid-template-columns: 10fr 90fr;
    grid-template-rows: 5fr 5fr 5fr 5fr 80fr;

    background-color: var(--dominant-light-color);

    padding: 2rem;

    border: 0.1rem solid var(--soft-gray);

    gap: 1.5rem;
    color: var(--dark-gray)
}




/* active todo: status style */

.todo_details_container>.status_btn {
    background-color: var(--dominant-light-color);

    width: fit-content;
    
    align-self: center;
    justify-self: start;

    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 5px;

}

.todo_details_container>.status_todo {
    color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
}

.todo_details_container>.status_progress {
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
}


.todo_details_container>.status_done {
    color: var(--dark-text-color);
    background-color: var(--task-success);
    border: 1px solid var(--task-success);
    font-weight: bold;
}

/* active todo: priority style */

.todo_details_container>.priority_btn {
    color: var(--dominant-light-color);
    font-weight: bold;

    width: fit-content;
    
    align-self: center;
    justify-self: start;

    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 5px;

}

.todo_details_container>.priority_low,
#active_project_section .priority_low,
#todo_form .priority_low {
    background-color: var(--soft-theme-color);
}

.todo_details_container>.priority_medium,
 #active_project_section .priority_medium,
 #todo_form .priority_medium {
    background-color: var(--dark-theme-color);
}


.todo_details_container>.priority_high,
#active_project_section .priority_high,
#todo_form .priority_high {
    background-color: red;
}

.todo_details_container .description_text {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    width: 100%;
    min-height: 336px;
    height: 336px;
    max-height: 336px;

    overflow-y: auto;

    padding: 0.75rem;
    line-height: 1.4;
    border-radius: 0.5rem;
}

.todo_details_container .description_text:hover {
    background-color: var(--soft-gray);
}

/* active todo header input style */

.active_todo_header_input {
    align-self: center;
    justify-self: start;

    font-size: 24px;
    
    border-radius: 0.5rem;

    border: 1px solid var(--theme-color);
    padding-left: 0.3rem;

    color: var(--dark-gray);
    max-height: 31px;

    width: 100%;
    max-width: 1000px;

}

.active_todo_header_input:focus,
.description_text_input:focus {
    outline: none;
}

.todo_details_container .description_text_input {
    width: 100%;
    min-height: 336px;
    height: 336px;
    max-height: 336px;  
    overflow-y: auto;     
  
    padding: 0.75rem;
    line-height: 1.4;
  
    border-radius: 0.5rem;

    border: 1px solid var(--theme-color);

    grid-column: 1 / 3;
    grid-row: 5 / 6;

    color: var(--dark-gray);

    white-space: pre-line;

    resize: none;

}


#active_todo_section>.check_list_container {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    height: 350px;

    display: grid;
    grid-template-columns: 95fr 5fr;
    grid-template-rows: 10fr 90fr;

    gap: 0.1rem;
}

.check_list_container>.add_subtask_btn {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    color: var(--dark-gray);
    font-size: 23px;
    background-color: var(--soft-gray);
    border-radius: 0.5rem;

    /* height: fit-content;
    width: fit-content; */

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;

    align-self: center;
    justify-self: end;

    display: flex;
    justify-content: flex-start;
}

.check_list_container>.add_subtask_btn:hover,
#active_project_section>.add_note_btn:hover,
#todos_header>.add_todo_btn:hover {
    background-color: rgba(190, 190, 190, 0.432);
}

.check_list_container>.add_subtask_btn:active,
#active_project_section>.add_note_btn:active,
#todos_header>.add_todo_btn:active {
    background-color: rgb(190, 190, 190);
}

.check_list_container div {
    display: grid;
    align-content: center;

    grid-template-columns: 5fr 95fr;

    height: fit-content;
    ;
    /* min-width: 405px; */

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.check_list_container li>input[type="checkbox"] {
    grid-column: 1 / 2;
    accent-color: var(--theme-color);
    border: 1px solid var(--soft-gray);
}

.check_list_container li p {
    grid-column: 2 / 3;

    min-width: 321px;
    overflow-x: auto;

    cursor: pointer;
}

.check_list_container li p:hover {
   background-color: var(--soft-gray);
}

.check_list_container>h4 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    align-self: center;

    color: var(--dark-gray);
}



.check_list_container>ul {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: var(--dark-gray);

    background-color: var(--dominant-secondary-color);    
    list-style: none;

    gap: 0.2rem;

    overflow-y: auto;
    border: 1px solid var(--soft-gray);

    padding: 0;
}

.check_list_container input[type="text"] {
    grid-column: 2 / 3;
    max-height: 19px;
}

.check_list_container input[type="text"]:focus {
    outline: 0;
    border: 1px solid var(--theme-color);
}

/* About Section Style */

#about_section {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 90fr;

    padding: 5rem;

    gap: 5rem;
}

#about_section h2 {
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;

    background-color: var(--theme-color);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 0.3rem;
    color: var(--soft-gray);
}

#about_section div {
    grid-row: 2 / 3;

    box-shadow: 0.01rem 0.01rem 0.2rem 0.01rem #918f8f49;
    border-radius: 0.5rem;

    padding: 1rem;

    line-height: 1.5;

    max-height: 1000px;

    overflow-y: auto;
}

