
/* Define custom properties for better styling control */

:root {
    --dominant-color: #eeeeee;
    --dominant-secondary-color: #afafaf;
    --theme-color: #7bd4a0;
    --text-font: Roboto, Arial, Helvetica, sans-serif;
}




/*Normalize Template: */


/*  More-intuitive box-sizing model */


*, *::before, *::after {
    box-sizing: border-box;
}

/*  remove default margin */
* {
    margin: 0;
}

body {
    /* add accessible line-height */
    line-height: 1.5;
    /* improve text rendering */
    -webkit-font-smoothing: antialiased;

    height: 100vh;
    width: 100vw;

    display: grid;


    font-family: var(--text-font);
    color: var(--secondary-color);

    display: grid;
    grid-template-columns: 90fr 10fr;
    grid-template-rows: 10fr 45fr 45fr;

    background-color: var(--dominant-color);

    overflow-x: auto;    
}
/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* button tyles */

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

html *::-webkit-scrollbar {
    display: none;
  }



  