
/* Define custom properties for better styling control */

:root {
    --dominant-color: #e9f2fe;
    --dominant-secondary-color: #fdfdfd;
    --theme-color: #1868db;
    --soft-gray: #a3a3a3bd;
    --text-font: Roboto, Arial, Helvetica, sans-serif;
}

/* @face rule for roboto font */

@font-face {
    font-family: 'Roboto';
    src: url('font-family/woff_fonts/Roboto-Regular.woff2') format('woff2'),
        url('font-family/woff_fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }



/*Normalize Template: */


/*  More-intuitive box-sizing model */


*, *::before, *::after {
    box-sizing: border-box;
}

/*  remove default margin */
* {
    margin: 0;
}

body {
    /* add accessible line-height */
    line-height: 1.5;
    /* improve text rendering */
    -webkit-font-smoothing: antialiased;

    height: 100vh;
    width: 100vw;

    display: grid;

    font-family: var(--text-font);

    display: grid;
    grid-template-columns: 88fr 12fr;
    grid-template-rows: 10fr 45fr 45fr;

    background-color: var(--dominant-color);

    overflow-x: auto;    
}
/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* button tyles */

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

html *::-webkit-scrollbar {
    display: none;
  }

/* End of normalize template */  

      
    /* Header: */
    
#header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    align-content: center;
    
    padding-left: 1.5%;
    padding-right: 1.5%;

    background-color: var(--dominant-secondary-color);
    color: var(--theme-color);

    box-shadow: 0px 4px 5px 0px #918f8f49;

    z-index: 1;

    min-height: 93px;
}

#header>nav {
    grid-column: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 5%;
}


#logo {

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / 2;    
}

/* The sidebar */


#sidebar {
    grid-column: 2 / 3;
    grid-row: 1 / 4; 

    background-color: var(--theme-color);
    color: var(--dominant-secondary-color);

    display: grid;
    
    grid-template-rows: 10fr 90fr;

    min-width: 100px;


    grid-template-columns: 1fr;

}

/* The main content */


#main_content {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

    display: flex;

    min-width: 400px;
    min-height: 800px;


    background-color: var(--dominant-color);

    overflow-y: auto;

    padding: 5%;

    
}

/* Articles Layout: */

#projects_section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, 220px);

    grid-auto-flow: row;

    gap: 2%;
}

#projects_section>h1 {
    grid-column:  1 / -1;
}

#projects_section>article {
    display: grid;
    grid-template-columns: 10fr 25fr 25fr 40fr;
    grid-template-rows: 10fr 25fr 25fr 40fr;


    background: var(--dominant-secondary-color);

    border-radius: 12px;

    width: clamp(250px, 100%, 350px);
    height: 200px;

    border: 2px solid black;
}

#projects_section>article>h3 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
#projects_section>article>p {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    color: var(--soft-gray);
}
    
#projects_section>article>button {
    grid-column: 4 / 5;
    grid-row: 4 / 5;

    background-color: var(--theme-color);

    height: fit-content;
    width: fit-content;

    align-self: center;
    justify-self: center;

    padding-left: 5%;
    padding-right: 5%;

    border-radius: 5px;

    color: var(--dominant-secondary-color);
}