
/* Define custom properties for better styling control */

:root {
    --dominant-color: #eeeeee;
    --dominant-secondary-color: #afafaf;
    --theme-color: #7bd4a0;
    --text-font: Roboto, Arial, Helvetica, sans-serif;
}

/* @face rule for roboto font */

@font-face {
    font-family: 'Roboto';
    src: url('font-family/woff_fonts/Roboto-Regular.woff2') format('woff2'),
        url('font-family/woff_fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }



/*Normalize Template: */


/*  More-intuitive box-sizing model */


*, *::before, *::after {
    box-sizing: border-box;
}

/*  remove default margin */
* {
    margin: 0;
}

body {
    /* add accessible line-height */
    line-height: 1.5;
    /* improve text rendering */
    -webkit-font-smoothing: antialiased;

    height: 100vh;
    width: 100vw;

    display: grid;


    font-family: var(--text-font);
    color: var(--secondary-color);

    display: grid;
    grid-template-columns: 90fr 10fr;
    grid-template-rows: 10fr 45fr 45fr;

    background-color: var(--dominant-color);

    overflow-x: auto;    
}
/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* button tyles */

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

html *::-webkit-scrollbar {
    display: none;
  }

/* End of normalize template */

  
  

      
    /* Header: */
    
#header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 0.5%;

    background-color: var(--theme-color);
    color: var(--dominant-color);



    border-bottom: 0.2rem solid black;
}

/* The sidebar */


#sidebar {
    grid-column: 2 / 3;
    grid-row: 2 / 4; 

    background-color: var(--theme-color);

    min-width: 100px;

    border-left: 0.3rem solid black;
    border-bottom: 0.5rem solid black;

    border-radius: 0px 0px 0px 100px;
}

/* The main content */


#main_content {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(366px, 1fr));
    grid-auto-rows: minmax(440px, 460px);
    gap: 30px;

    min-width: 400px;
    min-height: 800px;

    padding: 30px;

    color: var(--dominant-color);

    overflow-y: auto;
}

    
    