
/* Define custom properties for better styling control */

:root {
    --dominant-secondary-color: #ffffff;
    --dominant-light-color: #ffffff;
    --theme-color: #1868db;
    --dark-theme-color: #374151;
    --soft-theme-color: #669DF1;
    --soft-gray: #dfe1e6;
    --dark-gray: #868686bd;
    --text-font: Roboto, Arial, Helvetica, sans-serif;
    --dark-text-color: #1d2025;
}

/* @face rule for roboto font */

@font-face {
    font-family: 'Roboto';
    src: url('font-family/woff_fonts/Roboto-Regular.woff2') format('woff2'),
        url('font-family/woff_fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }



/*Normalize Template: */


/*  More-intuitive box-sizing model */


*, *::before, *::after {
    box-sizing: border-box;
}

/*  remove default margin */
* {
    margin: 0;
}

body {
    /* add accessible line-height */
    /* line-height: 1.5; */
    /* improve text rendering */
    -webkit-font-smoothing: antialiased;

    height: 100vh;
    width: 100vw;

    display: grid;

    font-family: var(--text-font);

    display: grid;
    grid-template-columns: 88fr 12fr;
    grid-template-rows: 10fr 45fr 45fr;

    background-color: var(--dominant-secondary-color);

    overflow-x: auto;    
}
/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* button tyles */

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

html *::-webkit-scrollbar {
    display: none;
  }

/* End of normalize template */  

      
    /* Header: */
    
#header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    align-content: center;
    
    padding-left: 1.5%;
    padding-right: 1.5%;

    background-color: var(--dominant-light-color);
    color: var(--theme-color);

    box-shadow: 0px 4px 5px 0px #918f8f49;

    z-index: 1;

    min-height: 93px;
}

#header>nav {
    grid-column: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 5%;
}


#logo {

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1 / 2;    
}

/* The sidebar */


#sidebar {
    grid-column: 2 / 3;
    grid-row: 1 / 4; 

    background-color: var(--theme-color);
    color: var(--dominant-light-color);

    display: grid;
    
    grid-template-rows: 10fr 90fr;

    min-width: 100px;


    grid-template-columns: 1fr;

}

/* The main content */


#main_content {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

    display: flex;

    min-width: 400px;
    min-height: 800px;


    background-color: var(--dominant-light-color);

    overflow-y: scroll;


    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 3%;
}

/* Articles Layout: */

#projects_section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, 220px);

    grid-auto-flow: row;

    gap: 2%;

    padding: 2%;
}

#projects_section>h1 {
    grid-column:  1 / -1;
}

#projects_section>article {
    display: grid;
    grid-template-columns: 10fr 25fr 25fr 40fr;
    grid-template-rows: 10fr 25fr 25fr 40fr;


    background: var(--dominant-light-color);

    border-radius: 12px;

    width: clamp(250px, 100%, 350px);
    height: 200px;

    border: 2px solid var(--soft-gray);

    overflow: hidden;

    padding-right: 1rem;
    padding-left: 1rem;
}

#projects_section>article>h3 {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    color: var(--theme-color);
    /* border-radius:5px 0px 0px 5px; */

    align-self: center;
    max-height: fit-content;
    min-width: fit-content;

    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
#projects_section>article>p {
    grid-column: 1 / 5;
    grid-row: 3 / 4;

    color: var(--dark-text-color);

    font-size: 0.75em;
}
    
#projects_section>article>button {
    grid-column: 4 / 5;
    grid-row: 4 / 5;

    background-color: var(--dominant-light-color);

    
    align-self: center;
    justify-self: end;

    padding-left: 5%;
    padding-right: 5%;

    border-radius: 5px;

    color: var(--theme-color);
    border: 1px solid var(--theme-color);
}

/* Active Project layout */

#active_project_section {
    flex: 1;
    display: grid;
    grid-template-columns: 90fr 10fr;
    grid-auto-rows: 10fr 90fr;
    
    overflow-y: scroll;
}

#notes_tab_section {
    flex: 1;
    padding-left: 2%;
}

/* position project header */

#active_project_section>h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;    
}

/* position notes header */

#active_project_section>h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.todos_list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;

    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, 100px);

    background-color: var(--dominant--secondary-color);

    border-right: 0.2rem solid var(--soft-gray);
    padding-right: 2%;
    padding-top: 2%;

}

.notes_grid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-auto-rows: minmax(200px, 220px);

    grid-auto-flow: row;

    padding-left: 2%;
    padding-top: 2%;
}

.notes_grid>article {
    display: flex;

    padding: 3.5%;

    background: var(--dominant-secondary-color);

    border-radius: 12px;

    width: clamp(150px, 100%, 250px);
    height: 200px;

    border: 1px solid var(--soft-gray);

    overflow: hidden;
}

.todos_list #todos_header {
    height: 30px;
    border-bottom: solid 2px var(--soft-gray);

    /* Copy todos <li> layout to keep consistency */

    display: grid;
    grid-template-columns: 10fr 50fr 25fr 15fr;

    align-items: center;
}

#todos_header .subject_header {
     /* Copy todos <li> layout to keep consistency */
    grid-column: 2 / 3;
}

#todos_header .status_header {
    grid-column: 3 / 4;
}

#todos_header .priority_header {
    grid-column: 4 / 5;
    
}

.todos_list>ul {
    gap: 1rem;

    padding: 0;

    display: grid;
}


.todos_list>ul>li {
    background-color: var(--dominant-secondary-color);    
    /* border: 1px solid var(--soft-gray); */
    color: var(--dark-text-color);
    list-style: none;

    display: grid;
    align-content: center;

    grid-template-columns: 10fr 50fr 25fr 15fr;

    height: fit-content;
    min-width: 354px;

    padding-top: 0.5%;
    padding-bottom: 0.5%;

    gap: 0.2rem;
}

/* .todos_list>ul>li>input[type="checkbox"] {
    outline: none;
    border: none;
    grid-column: 1 / 2;
    accent-color: var(--dominant-secondary-color);
    
    min-width: 25px;
    min-height: 10px;

    max-width: 30px;
    max-height: 15px;


    
} */

.todos_list>ul>li>.todo_subject {
    grid-column: 2 / 3;
    overflow: hidden;

    padding-left: 0.1rem;

    min-width: 170px;
}

.todo_subject .todo_subject_btn {
    white-space: nowrap;

    text-decoration: underline;
    color: var(--soft-theme-color);

}

.todos_list>ul>li>.todo_status{
    grid-column: 3 / 4;
    overflow: auto;

    text-align: center;
    color: var(--dark-text-color);
    font-weight: bold;
    font-size: 0.75rem;
    background-color: var(--soft-theme-color);

    max-width: fit-content;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    border-radius: 5px;
}

.todo_status p {
    white-space: nowrap;

}

.todos_list>ul>li>.todo_priority{
    grid-column: 4 / 5;
}

.todo_priority button {
    white-space: nowrap;

    color: var(--dominant-secondary-color);
    font-weight: bold;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    border-radius: 7px;

    min-width: 40px;
}

.todo_priority .High {
    background-color: red;
}

.todo_priority .Med {
    background-color: var(--dark-theme-color);
}

.todo_priority .Low {
    background-color: var(--soft-theme-color);
}


/* Active Todo Styling: */

#active_todo_section {
    flex: 1;
    display: grid;
    grid-template-columns: 90fr 10fr;
    grid-template-rows: 10fr 90fr;

    padding: 2rem;
    gap: 50px;

    overflow-y: scroll;
}


.todo_container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;

    grid-template-columns: 10fr 90fr;
    grid-template-rows: 5fr 5fr 5fr 40fr 45fr;

    background-color: var(--dominant-light-color);

    padding: 2rem;

    border: 1px solid var(--theme-color);

    gap: 1.5rem;
}


.todo_container>ul {
    grid-column: 1 / 3;
}

.todo_container>button {
    background-color: var(--dominant-light-color);

    
    align-self: center;
    justify-self: start;

    padding-left: 5%;
    padding-right: 5%;

    border-radius: 5px;

    color: var(--theme-color);
    border: 1px solid var(--theme-color);

}